* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

nav {
  background: white;
  padding: 0.5rem 8rem;
  position: sticky;
  top: 0;
}

nav > ul li {
  display: inline-block;
  margin: 10px;
}

nav .right-nav {
  display: inline-block;
  float: right;
}

.tuitt-button,
.apply-button {
  background-color: #c2195b;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 2rem;
  color: white;
  font-weight: bold;
}

.title,
.title-2 {
  font-family: "Zilla Slab", serif;
}

.title {
  font-size: 3rem;
}

.title-2 {
  font-size: 2rem;
  margin: 50px;
}

.subtitle {
  font-size: 1.3rem;
}

#bg-image {
  background-image: url("https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg");

  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-attachment: scroll;
}

.front-bg {
  background: rgba(0, 0, 0, 0.5);
  height: 50vh;
  padding: 0.5rem 8rem;
}

.container {
  width: 40%;
  text-align: right;
  float: right;
  color: white;
}

.subtitle {
  font-weight: normal;
}

.container * {
  margin-bottom: 20px;
}

.intro {
  padding: 0.5rem 20rem;
  margin-bottom: 50px;
}

.intro .title-2 {
  text-align: center;
}

.intro . .intro .intro-description {
  text-align: left;
}

.pre-footer {
  background-color: #f7fbfb;
  padding: 0.5rem 20rem;
  text-align: center;
}

.pre-footer p {
  margin-bottom: 20px;
}

.book-button {
  background-color: #336589;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 2rem;
  color: white;
  font-weight: bold;
}

footer {
  padding: 1rem;
  text-align: center;
}
